
.idea/misc.xml
.idea/modules.xml
.idea/py_data_science.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/other.xml
supervised/.DS_Store
fundamental knowledge/.DS_Store
unsupervised/.DS_Store
.DS_Store
temp.py
supervised/regression/.DS_Store
.idea/libraries/R_User_Library.xml
temp.py
temp.py
